/* .Buttons{width: 100%; height: 100%;} */
#GlyphButtonPanel{width: 69px; height: 73px; vertical-align: bottom; horizontal-align: right; position: 12px 5px 0px;}
#GlyphButton{background-image: url("s2r://panorama/images/hud/icon_glyph_small_psd.vtex");}